*{
margin: 0;
box-sizing: border-box;


}

 ul{
  list-style: none;
  background-color: lightgrey;
  padding: 1rem;
  flex-direction: row;
  
  
}

.App {
  min-height: 100vh;
display: grid;
grid-template-columns: fr 3fr;
grid-template-rows: 30% 50%;
}

.App > section{
  padding: 9rem;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: x-small;
  
}

.App > main {
  padding: 2rem;
}

.App > main > section{
  background-color: gray;
  
}
nav{
  grid-column:1 ;
  display: flex;
  
  align-items:flex-start ;
  font-size: x-small;
  
  
}



